

{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href= "{%  static  'users/new.css' %}">
</head>

    <body>
  <div class="container">
    <div class="row">
      <div class="col-sm- col-md-2 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Reset Password</h5>
            
            <form class="form-signin" method="POST">
            {% csrf_token %}
             {{ form|crispy }}
              


              <button class="btn btn-outline-info" type="submit">Request Reset Password</button>
               

              
            </form>

        
    </div>
{% endblock content %}



