

{% extends "users/base.html" %}
{% block content %}
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href= "{%  static  'users/new.css' %}">
</head>
    <body>
    


            <h1>
            <div class="container text-center" style="color:white">
               <i style='color:yellow'>About Us</i>
               </div>
            </h1>
       
   


   <div class="container text-center">
      
      
      <div class="container text-center" style="color:white;font-size:20px">
            
            &nbsp;
        
         <i>We are an online printing company to offer high-quality customer services. Our goal is to streamline the merchandise printing process to ensure that no one has a bad printing experience ever.
Our convenient and feasible prices can be satisfactory when you order in bulk quantity. We also offer printing services to large organizations with exclusive end to end services from designing to the printed product to the corporate sectors.
PrintCosmos is an online printing solutions provider for SMEs and Large businesses. It is a one-stop store for all your business printing needs.
Why do we call it a “one-stop store”? Because you can get a wide range of business printing products. By giving services such as designing, copywriting, proofreading, printing, engraving, gifting, and delivered to you anywhere in India! PrintCosmos simplifies the complex print procurement, making it easy and hassle-free!</i>

        

         </div>
      </div>
   

    

        
    </body>
{% endblock content %}



