
{% extends "users/base.html" %}
{% block content %}
{% load static %}
<body>

{% if user.is_authenticated %}
    <br />
     
   
    
    
    <!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" type="text/css" href= "{%  static  'users/new.css' %}">

</head>
<body>

<div class="container gallery-container">

    <h1 style='color:white;font-size:30px'>Our collection</h1>

    {% comment %} <p class="page-description text-center">Bussiness and Visiting Cards</p> {% endcomment %}
    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-5 col-lg-5 col-12 col-md-5">
                <div class="thumbnail">
                   
                        
                        <a href="{% url 'one-sided' %}"><img src="{% static 'users/images/team3.png' %}" /></a>
                 <div class="caption">
                        <h4>One Sided cards</h4>
                        
                    </div>

                </div>
            </div>
            <div class="col-sm-5 col-lg-5 col-12 col-md-5">
                <div class="thumbnail">
                   
                        
                        <a href="{% url 'two-sided' %}"><img src="{% static 'users/images/team3.png' %}" /></a>
                 <div class="caption">
                        <h4>Two Sided cards</h4>
                        
                    </div>
                </div>
            </div>
                 

{% endif  %}

</body>
</html>
{% endblock content %}