
{% extends "users/base.html" %}
{% block content %}
{% load static %}
<body>
<head>
 {% if user.is_authenticated %} 
    <h5 style='color:yellow'>Welcome, {{ user.username }}</h5>
    <h5 style='color:white'>To check the list of products, please Click <a style="color:Yellow;font-size: 20px"; href="{% url 'Products' %}">Here</a></h5>
{% else %}

    <h1> 

            <div class="container text-center" style="color:white">
               <b style='color:yellow'>Welcome to PrintCosmos</b>
               </div>
            </h1>
{% endif %}            
</head>
</body>
</html>
{% endblock content %}