{% extends "users/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards Gallery</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" type="text/css" href= "{%  static  'visitinglinks/visitingcss.css' %}">
</head>
<body>
   <section class="gallery-block cards-gallery">
	    <div class="container">
	        <div class="heading">
	          <h2>Cards Gallery</h2>
	        </div>
	        <div class="row">
	            <div class="card " style="width:20rem;height:320px;">
  <img class="img-thumbnail" src="{% static 'visitinglinks/images/one_sided5.jpg' %}" />
  <div class="card-body ">
    
    
     <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">Print Now</a>
  </div>
</div>
<div class="card ml-5" style="width:20rem;height:320px;">
  <img class="img-thumbnail" src="{% static 'visitinglinks/images/one_sided6.jpg' %}" />
  <div class="card-body">
   
    
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm1">Print Now</a>
  </div>
</div>
	        <div class="card " style="width:20rem;height:320px;">
  <img class="img-thumbnail" src="{% static 'visitinglinks/images/one_sided3.jpg' %}" />
  <div class="card-body">
    
    
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm2">Print Now</a>
  </div>
</div>
 <div class="card ml-5 " style="width:20rem;height:320px;">
  <img class="img-thumbnail" src="{% static 'visitinglinks/images/one_sided4.jpg' %}" />
  <div class="card-body">
    
    
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm3">Print Now</a>
  </div>
</div>
	            <div class="card" style="width:20rem;height:320px;">
  <img class="img-thumbnail" src="{% static 'visitinglinks/images/one_sided.jpg' %}" />
  <div class="card-body">
    
    
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm4">Print Now</a>
  </div>
</div>
<div class="card ml-5 " style="width:20rem;height:320px;">
  <img class="img-thumbnail" src="{% static 'visitinglinks/images/one_sided2.jpg' %}" />
  <div class="card-body">
   
    
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm5">Print Now</a>
  </div>
</div>
	        </div>
	    </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    </script>

<form action="{% url 'enquiry' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Print Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                  <input type="hidden"  name="name" {% if user.is_authenticated %} value="{{user.username}}" {% endif %} >
                  <input type="hidden"  name="email" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} >
                  <input type="hidden" name="image" value="onesidedcard-1">
                  Size default is 89mm x 51mm,if custom then enter the size
                  <input type="number"  style="width:50px;"  name="size1" min="10"/> X
                  <input type="number" style="width:50px;"  name="size2" min="10"/>
                  <br>
                  <br>
                  <div > Quantity
                      <label><input type="number" class="form-control validate" name="quantity" min="100"/> </label>
                    </div>
                    Minimum of 100 should be made
                    <br>
                    <br>
                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="form32">Subject</label>
                  <input type="text" id="form32" name="subject" class="form-control validate" class="form-control validate">
                  
                </div>
        
                <div class="md-form">
                  <i class="fas fa-pencil prefix grey-text"></i>
                  <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4"></textarea>
                  <label data-error="wrong" data-success="right" for="form8">Your message</label>
                </div>
                
                
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>
            </div>
          </div>
        </div>       
        </form>

      <form action="{% url 'enquiry' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal fade" id="modalContactForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Print Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                  <input type="hidden"  name="name" {% if user.is_authenticated %} value="{{user.username}}" {% endif %} >
                  <input type="hidden"  name="email" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} >
                  <input type="hidden" name="image" value="onesidedcard-2">
                  Size default is 89mm x 51mm,if custom then enter the size
                  <input type="number"  style="width:50px;"  name="size1" min="10"/> X
                  <input type="number" style="width:50px;"  name="size2" min="10"/>
                  <br>
                  <br>
                  <div > Quantity
                      <label><input type="number" class="form-control validate" name="quantity" min="100"/> </label>
                    </div>
                    Minimum of 100 should be made
                    <br>
                    <br>
                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="form32">Subject</label>
                  <input type="text" id="form32" name="subject" class="form-control validate" class="form-control validate">
                  
                </div>
        
                <div class="md-form">
                  <i class="fas fa-pencil prefix grey-text"></i>
                  <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4"></textarea>
                  <label data-error="wrong" data-success="right" for="form8">Your message</label>
                </div>
                
                
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>
            </div>
          </div>
        </div>       
        </form>

<form action="{% url 'enquiry' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal fade" id="modalContactForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Print Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                  <input type="hidden"  name="name" {% if user.is_authenticated %} value="{{user.username}}" {% endif %} >
                  <input type="hidden"  name="email" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} >
                  <input type="hidden" name="image" value="onesidedcard-3">
                  Size default is 89mm x 51mm,if custom then enter the size
                  <input type="number"  style="width:50px;"  name="size1" min="10"/> X
                  <input type="number" style="width:50px;"  name="size2" min="10"/>
                  <br>
                  <br>
                  <div > Quantity
                      <label><input type="number" class="form-control validate" name="quantity" min="100"/> </label>
                    </div>
                    Minimum of 100 should be made
                    <br>
                    <br>
                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="form32">Subject</label>
                  <input type="text" id="form32" name="subject" class="form-control validate" class="form-control validate">
                  
                </div>
        
                <div class="md-form">
                  <i class="fas fa-pencil prefix grey-text"></i>
                  <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4"></textarea>
                  <label data-error="wrong" data-success="right" for="form8">Your message</label>
                </div>
                
                
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>
            </div>
          </div>
        </div>       
        </form>

        <form action="{% url 'enquiry' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal fade" id="modalContactForm3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Print Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                  <input type="hidden"  name="name" {% if user.is_authenticated %} value="{{user.username}}" {% endif %} >
                  <input type="hidden"  name="email" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} >
                  <input type="hidden" name="image" value="onesidedcard-4">
                  Size default is 89mm x 51mm,if custom then enter the size
                  <input type="number"  style="width:50px;"  name="size1" min="10"/> X
                  <input type="number" style="width:50px;"  name="size2" min="10"/>
                  <br>
                  <br>
                  <div > Quantity
                      <label><input type="number" class="form-control validate" name="quantity" min="100"/> </label>
                    </div>
                    Minimum of 100 should be made
                    <br>
                    <br>
                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="form32">Subject</label>
                  <input type="text" id="form32" name="subject" class="form-control validate" class="form-control validate">
                  
                </div>
        
                <div class="md-form">
                  <i class="fas fa-pencil prefix grey-text"></i>
                  <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4"></textarea>
                  <label data-error="wrong" data-success="right" for="form8">Your message</label>
                </div>
                
                
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>
            </div>
          </div>
        </div>       
        </form>

        <form action="{% url 'enquiry' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal fade" id="modalContactForm4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Print Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                  <input type="hidden"  name="name" {% if user.is_authenticated %} value="{{user.username}}" {% endif %} >
                  <input type="hidden"  name="email" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} >
                  <input type="hidden" name="image" value="onesidedcard-5">
                  Size default is 89mm x 51mm,if custom then enter the size
                  <input type="number"  style="width:50px;"  name="size1" min="10"/> X
                  <input type="number" style="width:50px;"  name="size2" min="10"/>
                  <br>
                  <br>
                  <div > Quantity
                      <label><input type="number" class="form-control validate" name="quantity" min="100"/> </label>
                    </div>
                    Minimum of 100 should be made
                    <br>
                    <br>
                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="form32">Subject</label>
                  <input type="text" id="form32" name="subject" class="form-control validate" class="form-control validate">
                  
                </div>
        
                <div class="md-form">
                  <i class="fas fa-pencil prefix grey-text"></i>
                  <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4"></textarea>
                  <label data-error="wrong" data-success="right" for="form8">Your message</label>
                </div>
                
                
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>
            </div>
          </div>
        </div>       
        </form>
        <form action="{% url 'enquiry' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal fade" id="modalContactForm5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Print Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                  <input type="hidden"  name="name" {% if user.is_authenticated %} value="{{user.username}}" {% endif %} >
                  <input type="hidden"  name="email" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} >
                  <input type="hidden" name="image" value="onesidedcard-6">
                  Size default is 89mm x 51mm,if custom then enter the size
                  <input type="number"  style="width:50px;"  name="size1" min="10"/> X
                  <input type="number" style="width:50px;"  name="size2" min="10"/>
                  <br>
                  <br>
                  <div > Quantity
                      <label><input type="number" class="form-control validate" name="quantity" min="100"/> </label>
                    </div>
                    Minimum of 100 should be made
                    <br>
                    <br>
                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="form32">Subject</label>
                  <input type="text" id="form32" name="subject" class="form-control validate" class="form-control validate">
                  
                </div>
        
                <div class="md-form">
                  <i class="fas fa-pencil prefix grey-text"></i>
                  <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4"></textarea>
                  <label data-error="wrong" data-success="right" for="form8">Your message</label>
                </div>
                
                
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>
            </div>
          </div>
        </div>       
        </form>













  


</body>
</html>
  
        
        
 
{% endblock content %}